TENCENT_APP_KEY=
TENCENT_ACCESS_TOKEN=
TENCENT_VIRTUALMAN_PROJECT_ID=
TENCENT_API_BASE=https://ivh.tencentcloudapi.com
TENCENT_REGION=ap-guangzhou
TENCENT_DEFAULT_PROTOCOL=WEBRTC
TENCENT_DEFAULT_DRIVER_TYPE=TEXT
PORT=8787
