TENCENT_APP_KEY=
TENCENT_ACCESS_TOKEN=
TENCENT_VIRTUALMAN_PROJECT_ID=
TENCENT_API_BASE=https://gw.tvs.qq.com
TENCENT_REGION=ap-guangzhou
TENCENT_DEFAULT_PROTOCOL=webrtc
TENCENT_DEFAULT_DRIVER_TYPE=1
PORT=8787
